streamlit
pandas
numpy
plotly
matplotlib
matplotlib-venn
joblib
scikit-learn
xgboost
lightgbm
sqlalchemy
pymysql
opencv-python-headless
pillow
mysql-connector-python
insightface
onnxruntime
cryptography
python-dotenv
